#mySection
{
    color: grey;
}
#heading1
{
    color: blue;
}
#heading2
{
    color: red;
}
#content
{
    color: green;
}
#sideview
{
    color: yellow;
}
#text1
{
    color: lightblue;
}
#text2
{
    color: lightgoldenrodyellow;    
}