#header
{
    color: #336699;
}
#main-content
{
    color: #9999ff;
}
#highlighted
{
    color: #8a8a5c;
}
#btn-submit
{
    color: #94b8b8;
    background-color: #336699;
}
#warning
{
    color: #4dffc3;
}
#nav
{
    color: #336699;
}
#card
{
    color: #53c653;
}
#profile-pic-caption
{
    color:#8a8a5c;    
}
#intro
{
    color:yellow ;
}
#footer
{
    color:violet ;
}